@import "./reset.css";

:root {
  --black: #000;
  --white: #fff;
  --blue: #03adfd;
  --red: #ff0022;
  --gray: #2e2e2e;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 25px;
  background-color: var(--black);
}

.search {
  display: flex;
}

.search__input {
  min-width: 280px;
  padding: 8px 10px;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}

.search__btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
  border: none;
}

.search__btn__img {
  margin: 0 5px;
}
